name: "Stem Unified Platform: Security Audit"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # --- Phase 1: Security Scan (The "NIST/SOC 2" Gate) ---
  security_audit:
    name: "Security & Compliance Scan"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          # This tells Checkov to look everywhere for .tf files
          directory: . 
          framework: terraform
          # This tells Checkov to skip the checks we discussed for the PoC
          skip_check: CKV_AWS_39,CKV_AWS_38,CKV_TF_1,CKV_AWS_37,CKV_AWS_58
          soft_fail: false 
          download_external_modules: true

  # --- Phase 2: Static Code Validation ---
  terraform_validate:
    name: "Terraform Lint & Validate"
    needs: security_audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend=false # No AWS creds needed for this
        
      - name: Terraform Validate
        run: terraform validate